apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: skills-api
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: skills
        tier: backend
    spec:
      containers:
      - name: graphql-api
        image: registry.hub.docker.com/senforsce/skills-api:latest
        env:
        - name: APP_HOST
          value: localhost
        - name: DB_HOST
          value: postgresql
        - name: DB_PORT
          value: "5432"
        - name: DB_USER
          value: definitelynotroot
        - name: DB_PASSWORD
          value: Sm@11ButMyTea
        - name: DB_NAME
          value: skills
        - name: GET_HOSTS_FROM
          value: dns
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
        ports:
        - containerPort: 3000
